mixin head(title, style)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
    link(rel="stylesheet", href=style)


mixin input-nr(name, placeholder)
  input(name=name, placeholder=placeholder)


mixin menu(li1, li2, li3, li4)
  .pages
      ul
        li=li1
        li=li2
        li=li3
        li=li4